.blog {
  padding: 30px 0 50px;
  position: relative;
  min-height: $pageH;
  text-align: center;

  h1 {
    color: $white;
    max-width: 700px;
    margin-bottom: 50px;

    strong {
      color: $lightgreen;
    }
  }

  &:before {
    content: '';
    position: fixed;
    height: 250px;
    background-color: $dark_color;
    width: 100%;
    left: 0;
    top: 0;
  }

  .blog__content {
    @include z-depth-1;
    max-width: 700px;
    margin: 0 auto;
    background-color: $white;
    position: relative;
    border-left: 5px solid $orange;
  }

  .blog__title_image_caption {
    margin-top: 5px;
  }

  .post_info {
    font-size: 1.6em;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 20px;

    * {
      font-family: 'Roboto Slab', Courier, serif;
      letter-spacing: 0.05em;
      line-height: 1.8em;
    }

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;

    .post_info__avatar {
      width: 90px;
      //background: lightgreen;

      //padding: 10px;
      //background-color: $dark_color;
      //border: 5px solid $orange;
    }

    .link, .post_info__tags span {
      color: $white;
      background: $orange;
      padding-left: 5px;
      padding-right: 5px;
    }

    .post_info__tags span {
      margin-right: 10px;
    }

    .post_info__meta {
      flex: 1;
      background: $lightgrey;
      padding-right: 10px;
      border-left: 5px solid $green;
      color: $dark_color;
      margin-left: 10px;
      > div {
        padding-left: 10px;
        display: inline-block;
      }
      span {
      }
    }

    img {
      vertical-align: middle;
      width: 90px;
      border-radius: 50%;
    }
    > div {
      //vertical-align: middle;
      //display: inline-block;
    }
  }
  .blog__article {
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    letter-spacing: 0.05em;
    padding-bottom: 10px;
    p {
      line-height: 1.8em;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    > p:first-of-type::first-letter {
      color: $orange;
      font-weight: bold;
      font-size: 40px;
      margin-right: 5px;
    }

    blockquote {
      margin-inline-start: 10px;
      margin-inline-end: 10px;
      border-left: 5px solid $green;
      padding-left: 20px;
      padding-right: 20px;
      background-color: $lightgrey;
      color: $black;
      font-size: 1.6em;
      font-style: italic;
    }

    h2 {
      margin-left: 20px;
      .anchor svg {
        visibility: visible;
      }
    }
    a {
      text-decoration: underline;
    }

    ol,
    ul {
      margin-block-start: 10px;
      margin-block-end: 10px;
      font-size: 1.6rem;
      line-height: 2.5rem;
      word-break: break-all;
    }

    li {
      display: table;
    }

    ol > li:before,
    ul > li:before {
      display: table-cell;
      content: '\E315';
      color: #ff5646;
      margin-right: 5px;
      font-family: 'fontello' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
    }
  }

  @include mq($min-width: $vw-medium) {
    h1 {
      padding: 25px 0;
      margin: 0 auto;
    }
  }

  @include mq($max-width: 550px) {
    .post_info {
      flex-flow: column;
      .post_info__avatar{
        display: none;
      }
      .post_info__meta{
        margin-left: 0;
      }
    }

  }

  @include mq($min-width: $vw-small) {
    min-height: $mobilePageH;
  }
}
