 .news {
  padding: 30px 0 50px;
  position: relative;
  min-height: $pageH;
  text-align: center;

  h1 {
    color: $white;
    max-width: 700px;
    margin-bottom: 50px;

    strong {
      color: $green;
    }
  }

  &:before {
    content: "";
    position: fixed;
    height: 250px;
    background-color: $dark_color;
    width: 100%;
    left: 0;
    top: 0;
  }

  .news__content {
    @include z-depth-1;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: $white;
    position: relative;
    border-left: 5px solid $orange;
  }

  .news__birds {
    position: absolute;
    width: 100%;
    right: 0;
    top: 5px;

    img {
      position: absolute;
      right: 0;
      width: 70px;
      height: 70px;
      transform: translateY(-100%);

      &:nth-child(2) {
        right: 65px;
        height: 50px;
        width: 50px;
      }

      &:nth-child(3) {
        right: 115px;
        width: 40px;
        height: 40px;
      }
    }
  }
  @include mq($min-width: $vw-medium) {
    h1 {
      padding: 25px 0;
      margin: 0 auto;
    }
  }

  @include mq($min-width: $vw-small) {
    min-height: $mobilePageH;
  }
}
