$black: #1d1e1c;
$blackblue: #253032;
$clearblue: #c4f0f0;
$lightblue: #68cdce;
$lightblue: #ff5646;
$blue: #2895a0;
$blue: #458260;
$darkblue: #ff5646;

$grey: #babdb5;
$lightgrey: #f4f4f4;

$coverbg:#253032;

//$clearorange:#ff8074;
//$darkorange:#b33b30;

$white: #fff;
$black: #000;

$dark_color:#073B4C;

$lightgreen:#82f5b6;
$green:#82f5b6;
$orange:#ff5646;

$all_in_one_bg:$dark_color;
$all_in_one_circle:white;

$cardcircle:$lightgreen;

$primaryColor: $orange;
