$blue: #458260;

$white: #fff;
$black: #1d1e1c;
$light_black:#253032;
$dark_color:#073B4C;
$grey: #babdb5;
$lightgrey: #f4f4f4;
$orange:#ff5646;
$green:#82f5b6;

$primaryColor: #ff5646;

//$white: #fff;
//$black: #1d1e1c;
//$light_black:#253032;
//$dark_color:#5d1d33;
//$grey: #babdb5;
//$lightgrey: #f4f4f4;
//$orange:#b94ccc;
//$green:#f9ec7d;